.main-month{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.container-resume{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-details{
    text-decoration: none;
    color: black;
}

.details{
    color: gray;
    font-size: 12px;
}